<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_4.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>praonde</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>AdicionaUsuario</description>
    <display-name>AdicionaUsuario</display-name>
    <servlet-name>AdicionaUsuario</servlet-name>
    <servlet-class>Servlets.AdicionaUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionaUsuario</servlet-name>
    <url-pattern>/adicionaUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Login</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AdicionaMensagem</description>
    <display-name>AdicionaMensagem</display-name>
    <servlet-name>AdicionaMensagem</servlet-name>
    <servlet-class>Servlets.AdicionaMensagemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionaMensagem</servlet-name>
    <url-pattern>/adicionaMensagem</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>AdicionaCaronaOferecida</description>
    <display-name>AdicionaCaronaOferecida</display-name>
    <servlet-name>AdicionaCaronaOferecida</servlet-name>
    <servlet-class>Servlets.AdicionaCaronaOferecidaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionaCaronaOferecida</servlet-name>
    <url-pattern>/adicionaCaronaOferecida</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>AdicionaVeiculo</description>
    <display-name>AdicionaVeiculo</display-name>
    <servlet-name>AdicionaVeiculo</servlet-name>
    <servlet-class>Servlets.AdicionaVeiculoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionaVeiculo</servlet-name>
    <url-pattern>/adicionaVeiculo</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>AlteraVeiculo</description>
    <display-name>AlteraVeiculo</display-name>
    <servlet-name>AlteraVeiculo</servlet-name>
    <servlet-class>Servlets.AlteraVeiculoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlteraVeiculo</servlet-name>
    <url-pattern>/alteraVeiculo</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>RemoveVeiculo</description>
    <display-name>RemoveVeiculo</display-name>
    <servlet-name>RemoveVeiculo</servlet-name>
    <servlet-class>Servlets.RemoveVeiculoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveVeiculo</servlet-name>
    <url-pattern>/removeVeiculo</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>Upload</description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>Servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>   
  <servlet>
    <description>BuscaCaronaOferecida</description>
    <display-name>BuscaCaronaOferecida</display-name>
    <servlet-name>BuscaCaronaOferecida</servlet-name>
    <servlet-class>Servlets.BuscaCaronaOferecidaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaCaronaOferecida</servlet-name>
    <url-pattern>/buscaCaronaOferecida</url-pattern>
  </servlet-mapping> 
</web-app>